:root {
  --background-color: #050505;
  --text-color: #FFFFFF;
  --subtext-color: #A0A0A0;
  --border-color: #969696;
  --nav-color: rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    background-color: var(--background-color);
}

/* Animation styles */
.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.4s ease-out, transform 0.6s ease-out;
}

.fade.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Type stack */
h1 {
    font-family: 'Plus Jakarta Sans';
    font-size: 36px;
    font-weight: 600;

    margin: 32px 0 24px 0;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;

    margin-top: 16px;
}

h1, p {
    color: var(--text-color);
    max-width: 744px;
}

.image-grid {
    display: flex;
    gap: 14px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    margin: 100px 0;
}

/* .image-grid > img {
    max-width: 100%;
} */

.content-container {
    margin: 0 auto;
    max-width: 855px;

    /* For mobile padding */
    padding: 0 10px; 
}

.connect-button:hover {
    filter: brightness(1.2);
}

#header {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
    display: flex;
    gap: 60px;
    justify-content: space-around;
    transform: translateX(-50%);
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 13px;
    padding: 9px 60px;
}

#header.hidden {
    opacity: 0;
}

#header > a {
    color: var(--text-color);
    font-family: 'Plus Jakarta Sans';
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.2s ease;
}

#header > a:hover {
    color: #b1b1b1;
}


.right-container {
    display: flex;
    gap: 27px;
}

.connect-button {
  background-color: #363636; /* or blue, green, etc */
  color: white;
  border-radius: 7px;
  padding: 11px 18px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  gap: 11px;

  cursor: pointer;

  text-decoration: none;

  transition: filter 0.2s ease, transform 0.2s ease;
}

.connect-button:hover {
  filter: brightness(1.2);  /* 20% brighter */
  /* transform: translateY(-2px); */
}



@media (max-width: 700px) {

    #header {
        width: 70%;
        gap: 0px;
        justify-content: space-around;
        padding: 9px 50px !important; 
    }

    p {
        font-weight: 400;
        color: #E5E5E5
    }

    .content-container {
        width: 95%;
    }

    .right-container {
        flex-direction: column;
    }
}